# Ignore local dependencies, as they will be installed inside the container
node_modules

# Ignore the build output directory (we create this inside the container)
dist

# Ignore logs
npm-debug.log
*.log

# Ignore OS-specific files
.DS_Store

# Ignore Git files
.git
.gitignore

# Ignore the entire backend directory from the frontend build context
meaningful-conversations-backend/